[submodule "thirdparty/kindr"]
	path = thirdparty/kindr
	url = git@github.com:ethz-asl/kindr.git
[submodule "thirdparty/lightweight_filtering"]
	path = thirdparty/lightweight_filtering
	url = git@bitbucket.org:bloesch/lightweight_filtering.git
